.main-container {
    top: 2510px;
    position: absolute;
    text-align: center;
    // margin: 0px 35px;
    width: 100%;
    overflow: hidden;


    .title {
        font-size: 80px;
        z-index: 999;
        position: relative;
        
        span {
            font-family: Poppins;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 80px;
            line-height: 100%;
            letter-spacing: -1px;
            text-align: center;
            vertical-align: middle;
        }
    }

    .sub-text {
        font-size: 20px;
        color: #C4C4C4;
        display: block;
    }

    /* carousel.component.css */
    .carousel {
        display: flex;
        overflow: hidden;
        margin: auto;
        width: 100%; // 5033px;
        height: 114px;
        opacity: 1;
        gap: 20px;

    }

    .item {
       align-items: center;
        justify-content: center;
        width: 520px;
        height: auto;
        flex: 0 0 auto;
    }

    .super-text {
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #37CCF7;
    }

    .future-image {
        width: 870px;
        height: 404px;
        opacity: 1;
        top: -271px;
        left: -80px;
        position: relative;
        z-index: 1;
    }

    .action-buttons {
        position: relative;
        bottom: 265px;

        .read-docs {
            display: inline-flex;
            width: 162px;
            height: 52px;
            opacity: 1;
            border-radius: 36px;
            border-width: 1px;
            gap: 10px;
            padding-top: 16px;
            padding-right: 24px;
            padding-bottom: 16px;
            padding-left: 24px;

            border: 1px solid;
            background: linear-gradient(90deg, #BA9CFF 0%, #300056 100%);
            position: relative;
        }
        .read-docs::before {
            content: "";
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background-color: black;
            border-radius: 35px;
        }
    }
}