<div class="content-section">
    <div>
        <div class="main-heading">
            AI-powered <span> Banking & Payment Solutions </span> <br> built for Modern Businesses
        </div>
        <div class="sub-heading">
            UzOfin brings intelligent automation, real-time payments, and seamless financial operations together so you can scale without friction.
        </div>
    </div>
    <div class="action-buttons">
        <button class="start-building" (mouseenter)="onMouseEnterButton($event)" (mouseleave)="onMouseLeaveButton($event)">
            <div class="button-text">Start building</div>
            <img class="right-arrow" />
        </button>
        <button class="read-docs">
            <div class="button-text">Read Docs</div>
            <img class="right-arrow" />
        </button>
    </div>
</div>
