.container {
  background-color: black;
  margin: -8px;
}

.img-background {
  background: url('../assets/images/Frame L.png') left center no-repeat, url('../assets/images/Frame R.png') right center no-repeat;
  background-size: 46% 120%, 47% 120%;
}