<div class="business-section">
    <div class="frame">
    <div class="frame1">
        <div class="text">
            Tools that accelerate every step of your financial workflow.
        </div>
        <div class="" style="width: 350px;
height: 93px;
opacity: 1;
top: -3px;
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 40px;
line-height: 46px;
letter-spacing: 1px;
color: #FFFFFF
">
            Our Intelligent Financial Suite
    </div>
    </div>
    <div class="frame2">
        <div class="onboarding-section">
            <span>Frictionless onboarding for merchants at any scale. Automated KYC, verification, and risk assessments—done in minutes.</span>
            <div class="section-heading">
                <span>Merchant Onboarding</span>
            </div>
            <div class="business-numbers">
                <span>On-time merchant Onboard</span>
                <span class="percent">100%</span>
            </div>
            <div class="rectangle"></div>
        </div>
        <div class="payout-section">
            <span>Bulk, automated payouts built for high-volume businesses. Reliable, trackable, and lightning-fast disbursements.</span>
            <div class="section-heading">
                <span>Payouts</span>
            </div>
            <div class="business-numbers">
                <span>Total Transactions</span>
                <span class="number">163,077,581,394</span>
            </div>
            <div class="rectangle"></div>
        </div>
         <div class="payment-section">
            <span>Fast, secure, and scalable payment infrastructure. Send and receive money globally with ease.</span>
            <div class="section-heading">
                <span>Payments</span>
            </div>
            <div class="business-numbers">
                <span>Validator nodes</span>
                <span class="number">1675</span>
            </div>
            <div class="rectangle"></div>
        </div>
        <div class="ai-banking-section">
            <span>Smart, automated digital banking for businesses. Instant onboarding, intelligent insights, and real-time account operations.</span>
            <div class="section-heading">
                <span>AI Banking</span>
            </div>
            <div class="business-numbers">
                <span>Transactions per second</span>
                <span class="number">3969</span>
            </div>
            <div class="rectangle"></div>
        </div>
    </div>
    </div>
    
    <div class="frame-image" #frameImage>
        <div class="business-text">Your Business Pays Are Now Faster and Secure</div>
        <div class="spiral" #spiral>
            <div class="image1"></div>
        </div>
       <div class="business-value">
            <div class="speed">
                <div class="text">Merchant onboarding with AI automation</div>
                <div class="sub-section">
                    <div class="content">
                        70% <span>Faster</span>
                    </div>
                </div>
            </div>
            <div class="reliability">
                <div class="text">Platform uptime and reliability</div>
                <div class="sub-section">
                    <div class="content" style="
                        background: -webkit-linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;">
                        99.9%
                    </div>
                </div>
            </div>
            <div class="money">
                <div class="text">Transactions processed monthly</div>
                <div class="sub-section">
                    <div class="content" style="
                        background: -webkit-linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;">
                        11.5M+
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
